In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy import stats
from scipy.stats import norm

In [32]:
#flights = pd.read_csv('data/flights-2018-2019.csv')
flights_test = pd.read_csv('data/flights_test.csv')

In [33]:
flights_test.head(5)

,date_format,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,...,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,1577854800000,WN,WN,WN,5888,WN,N951WN,5888,13891,...,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01,1577854800000,WN,WN,WN,6276,WN,N467WN,6276,13891,...,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2020-01-01,1577854800000,WN,WN,WN,4598,WN,N7885A,4598,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,2020-01-01,1577854800000,WN,WN,WN,4761,WN,N551WN,4761,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,2020-01-01,1577854800000,WN,WN,WN,5162,WN,N968WN,5162,13891,...,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333

In [34]:
apikey = 'API key'

origin_cities = flights[['fl_date', 'origin_city_name']]
dest_cities = flights[['fl_date', 'dest_city_name']]

origin_cities = origin_cities.groupby(['fl_date', 'origin_city_name']).sum().reset_index()
dest_cities = dest_cities.groupby(['fl_date', 'dest_city_name']).sum().reset_index()

dates = sorted(list(set(flights['fl_date'])))

In [35]:
origin_cities = flights_test[['date_format', 'origin_city_name']]
dest_cities = flights_test[['date_format', 'dest_city_name']]

origin_cities = origin_cities.groupby(['date_format', 'origin_city_name']).sum().reset_index()
dest_cities = dest_cities.groupby(['date_format', 'dest_city_name']).sum().reset_index()

dates = sorted(list(set(flights_test['date_format'])))

In [36]:
dates

['2020-01-01',
 '2020-01-02',
 '2020-01-03',
 '2020-01-04',
 '2020-01-05',
 '2020-01-06',
 '2020-01-07']

In [37]:
dict_cities = {date:[] for date in dates}

for index, data in enumerate(origin_cities.values):
    dict_cities[data[0]].append(data[1])

for index, data in enumerate(dest_cities.values):
    dict_cities[data[0]].append(data[1])
    
dict_len = 0
for date, cities in dict_cities.items():
    dict_len += len(cities)

In [38]:
import itertools
sample_dict = dict(itertools.islice(dict_cities.items(), 5))

In [39]:
cities_weather = pd.DataFrame(columns=['date', 'city', 'condition'], index=range(dict_len))

In [40]:
cities_weather

     date city condition
0     NaN  NaN       NaN
1     NaN  NaN       NaN
2     NaN  NaN       NaN
3     NaN  NaN       NaN
4     NaN  NaN       NaN
...   ...  ...       ...
4892  NaN  NaN       NaN
4893  NaN  NaN       NaN
4894  NaN  NaN       NaN
4895  NaN  NaN       NaN
4896  NaN  NaN       NaN

[4897 rows x 3 columns]

In [2]:
from function_helpers import weather_f

In [42]:
weather_f(dict_cities,cities_weather, apikey, "flights_test_weather-2020.csv")